*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

p{
    font-size: 16px;
    color: rgb(43, 41, 41);
}

.headers{
    padding: 1rem 3rem;
    width: 100vw;
    background: rgb(247, 244, 244);
}
.topSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: .7rem;
}

.main-nav{
    width:calc(100vw - 6rem);
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: gray;
}

.nav-links{
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 16px;
    text-transform:capitalize;
}